* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    position: absolute;
    width: 100%;
}

ul, ol {
    list-style:none;
}

.nav {
    display: flex;
}

.nav li a {
    background-color:transparent;
    color:rgb(154, 113, 74);
    text-decoration:none;
    padding:10px 12px;
    display:inline-block;
}

.nav li a:hover {
    background-color:rgb(154, 113, 74) ;
    color:rgb(252, 252, 252);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.arrow::after {
    width: 5px;
    height: 5px;
    transform: rotate(135deg);
    border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    content: '';
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.4s ease-in-out 0s;
}

/* ---------------------------- */

@media only screen and (min-width: 800px) {
    nav {
    display: block;
    justify-self: center;
    }
    .menu-button {
    display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
    grid-template: 1fr / 1fr 1fr 1fr;
    }
    .logo-container {
    grid-column: auto;
    grid-row: auto;
    }
} 
